.Step4 {
    margin-inline: auto;
    width: 83%;
    padding: 30px;
    position: relative;
    height: 100%;
    line-height: 1.6;
}

.Step4 p {
    font-size: 16px;
    color: hsl(231, 11%, 63%);
}

.Step4 h1 {
    letter-spacing: 1px;
    color: hsl(213, 96%, 18%);
}

.Step4 .next {
    background-color: hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    border: 0;
}

.Step4 .next:hover {
    background-color: hsl(213, 96%, 30%);
}

.Step4 .back {
    color: hsl(231, 11%, 63%);
    background-color: hsl(0, 0%, 100%);
    border: 0;
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-weight: 700;
}

.Step4 .back:hover {
    color: hsl(213, 96%, 18%);
}

/*//////////////////////////*/
.Step4 .total {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.Step4 .total h4 {
    color: hsl(243, 100%, 62%);
}


.check-confirm {
    margin-top: 30px;
    background-color: hsl(217, 100%, 97%);
    border-radius: 10px;
}

.main-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.main-plan > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.main-plan > div > p {
    color: hsl(213, 96%, 28%);
    font-weight: 700;
}

.main-plan > p {
    color: hsl(213, 96%, 28%);
    font-weight: 700;
}

.main-plan > div > button {
    background: none;
    border: none;
    text-decoration: underline;
    color: hsl(231, 11%, 63%);
    cursor: pointer;
}

.sub-plan > .item:first-child {
    padding-top: 30px;
}

.sub-plan > .item:last-child {
    padding-bottom: 30px;
}

.sub-plan > .item {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    height: 40px;
    align-items: center;
}

.sub-plan > .item > p:nth-child(2){
    color: hsl(213, 96%, 28%);
}

.check-confirm > .line {
    height: 1px;
    width: calc(100% - 32px);
}


@media (max-width: 920px) {

    .Step4 {
        background-color: hsl(0, 0%, 100%);
        width: 90%;
        border-radius: 15px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -90px);
        height: fit-content;
        box-shadow: 0 15px 20px -5px hsl(229, 24%, 87%);
    }

    .Step4 > h1 {
        font-size: 1.7rem;
    }


}
